<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  version="3.1"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

  <display-name>Task 5. Pagination</display-name>

  <session-config>
    <session-timeout>50</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <filter>

    <filter-name>EncodingFilter</filter-name>
    <filter-class>
      com.epam.provider.web.filter.EncodingFilter
    </filter-class>

    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>

  </filter>

  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Client</servlet-name>
    <jsp-file>/WEB-INF/jsp/client.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client</servlet-name>
    <url-pattern>/Client</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTariff</servlet-name>
    <jsp-file>/WEB-INF/jsp/addTariff.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTariff</servlet-name>
    <url-pattern>/AddTariff</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddProfile</servlet-name>
    <jsp-file>/WEB-INF/jsp/addProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProfile</servlet-name>
    <url-pattern>/AddProfile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateProfile</servlet-name>
    <jsp-file>/WEB-INF/jsp/updateProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateTariff</servlet-name>
    <jsp-file>/WEB-INF/jsp/updateTariff.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTariff</servlet-name>
    <url-pattern>/UpdateTariff</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Tariff</servlet-name>
    <jsp-file>/WEB-INF/jsp/tariffs.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tariff</servlet-name>
    <url-pattern>/Tariff</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>log4j-config-name</param-name>
    <param-value>log4j.properties</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/error/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.RuntimeException</exception-type>
    <location>/WEB-INF/jsp/error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/error/500.jsp</location>
  </error-page>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>

</web-app>